.container {
  color: rgb(216, 215, 215);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_cards {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 1fr);
  row-gap: 50px; */
  width: 100%;
  min-width: 80%;

  align-items: center;
}
