.container {
  color: rgb(216, 215, 215);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../assets/images/fondo-home.jpg");
}

.container_cards {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 1fr);
  row-gap: 50px; */
  width: 100%;
  min-width: 80%;
  justify-content: center;
  align-items: center;
}
