.footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #252525;
  height: 5rem;
  align-items: center;
}

.footer_container_ul {
  width: 60%;
}

.footer_ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  list-style: none;
}

.footer_img {
  width: 50px;
  height: 50px;
}
