.filter_container {
  height: 6rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
  backdrop-filter: blur(1px);
}
