.container_loading {
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.521);
  height: 500px;
  width: 700px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #daa520;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cards_container {
  max-width: 90%;
  min-width: 375px;
}
.button_container {
  display: flex;
  gap: 10px;
}
.button {
  cursor: pointer;
  color: aliceblue;
  width: 40px;
  height: 40px;
  background-color: hsla(0, 0%, 0%, 0.507);
  border: 2px solid #ccc;
  border-color: #daa520;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 16px; */
}
.button:active {
  transform: scale(0.9);
}
.button:focus {
  background-color: #daa520;
  color: black;
}

.active {
  background-color: #daa520;
  color: black;
}

.button_arrow {
  cursor: pointer;
  color: aliceblue;
  width: 40px;
  height: 40px;
  background-color: hsla(0, 0%, 0%, 0.507);
  border: 2px solid #ccc;
  border-color: #daa520;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
