.reset__link {
  padding: 15px 40px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
  letter-spacing: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-color: #daa520;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(
    45deg,
    #daa520 11%,
    rgba(255, 255, 255, 1) 49%,
    rgba(218, 165, 32, 1) 86%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reset__link:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px #ccc;
}
